@import "../../../styles/variables/mixins";
.project-details {
    .detail_card {
        position: relative;
        margin-top: 50px;
        .card-body {
            padding-left: 20px;
            p {
                font-size: 30px;
                color: black;
                font-weight: 100;
                @include mobile {
                    font-size: 40px;
                }
            }
            .card-title {
                font-size: 50px;
                font-weight: bold;
                color: blueviolet;
                @include mobile {
                    font-size: 60px;
                }
            }
        }
        .card-details {
            padding-left: 20px;
            p {
                font-size: 20px;
                color: black;
                font-weight: 100;
                @include mobile {
                    font-size: 30px;
                }
            }
            button {
                margin-bottom: 20px;
                background-color: blueviolet;
                border-radius: 5px;
                border: none;
                padding: 5px 10px;
                color: white;
                cursor: pointer;
                @include mobile {
                    font-size: 20px;
                }
            }
        }
        .upload_img {
            position: absolute;
            bottom: 0;
            right: 0;
            // .ant-upload.ant-upload-select-picture-card {
            //     height: 45px;
            // }
        }
    }
}